
<h1>Showing Articles</h1>

<table style="margin:auto">
<thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th clospan="3">Actions</th>
  </tr>
</thead>
<tbody>

  <% @articles.each do |article| %>
    <%= render 'article', article: article %>
  <% end %>
</tbody>
</table>
</ul>
<div class="flickr_pagination" style="text-align:center;margin:auto">
    <%= will_paginate @articles %>
  </div>
<% if logged_in? %>
  <%= link_to "New Article", new_article_path %>
<% end %>
